[Service]
EnvironmentFile=/srv/aclarknet-env/www
User=ubuntu
Group=ubuntu
WorkingDirectory=/srv/aclarknet-website
ExecStart=/srv/aclarknet-website/bin/gunicorn aclarknet.wsgi -b :8001
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
