{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
            <h1>About</h1>
            <div> 
              <div class="row"> 
                <div class="col-md-12">
                  <h2>We empower you through Python and related technologies.</h2>
                  <p class="lead">The Python programming language and open source software provide tremendous opportunities, but often require an expert to take advantage of. We are available & able to help by providing services to empower individuals and organizations to benefit from these opportunities.</p>
                </div>
              </div>
              <hr class="featurette-divider">
              <div class="row" id="sitemap">
                <div class="col-md-4">
                  <ul>
                    <li class="lead"><i class="fa fa-bullhorn"></i> <a href="{% url 'blog' %}">Blog</a></li>
                    <li class="lead"><i class="fa fa-book"></i> <a href="{% url 'book' %}">Book</a></li>
                    <li class="lead"><i class="fa fa-building"></i> <a href="{% url 'clients' %}">Clients</a></li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <ul>
                    <li class="lead"><i class="fa fa-globe"></i> <a href="{% url 'community' %}">Community</a></li>
                    <li class="lead"><i class="fa fa-clock-o"></i> <a href="{% url 'history' %}">History</a></li>
                    <li class="lead"><i class="fa fa-location-arrow"></i> <a href="{% url 'location' %}">Location</a></li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <ul>
                    <li class="lead"><i class="fa fa-code"></i> <a href="{% url 'open-source' %}">Open Source</a></li>
                    <li class="lead"><i class="fa fa-users"></i> <a href="{% url 'team' %}">Team</a></li>
                    <li class="lead"><i class="fa fa-thumbs-o-up"></i> <a href="{% url 'testimonials' %}">Testimonials</a></li>
                  </ul>
                </div>
              </div>
            </div>
{% endblock %}
