{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ACLARK.NET, LLC &mdash; Website</title>
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'aclarknet-website.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'carousel.css' %}">
    <style>
      body {
        background:
            linear-gradient(
                rgba(255, 255, 255, 0.9),
                rgba(255, 255, 255, 0.9)
            ),
            url({% static 'aclark-doe.jpg' %}) center -200px;
      }
    </style>
  </head>
  <body>
{% include 'nav.html' %}
    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
        </nav>
        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
{% include 'messages.html' %}
{% block carousel %}
{% endblock %}
{% block content %}
{% endblock %}
        </main>
        <footer class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
          <hr class="featurette-divider">
          <div class="row">
            <div class="col-md-10">
              <p>&copy; ACLARK.NET, LLC 2004 &mdash; 2017. All rights reserved.</p> 
              <p>Python&trade; is a registered trademark of the <a href="https://www.python.org/psf-landing/">Python Software Foundation</a>. All other trademarks mentioned on this website are the property of their respective owners. Icons by <a href="http://fontawesome.io/">Font Awesome</a>. Photos by <a href="{% url 'team' %}#aclark">Alex Clark</a> except where otherwise noted. Theme made with <a href="https://getbootstrap.com/">Bootstrap</a>.</p>
            </div>
            <div class="col-md-2" style="text-align: center">
              <p><a href="#">Back to top</a></p>
              <p><a href="https://github.com/ACLARKNET/aclarknet-website"><i class="fa fa-github fa-2x"></i></a> <a href="https://github.com/ACLARKNET/aclarknet-website"></i></a></p>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="{% static 'aclarknet-database.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>
  </body>
</html>
