{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
            <h1>Blog</h1>
            <div class="jumbotron" style="border-radius: 0">
              <h2>Alex Clark's Blog</h2>
              <hr class="featurette-divider">
              <div class="row">
                <div class="col-md-6">
                  <p class="lead">Credibly synthesize optimal process improvements with business methodologies. Dynamically drive parallel technologies and wireless ROI. Seamlessly supply stand-alone supply chains via performance based communities.</p>
                </div>
                <div class="col-md-6" style="text-align: center">
                  <i class="fa fa-bullhorn fa-5x" style="vertical-align: middle"></i>
                  <a href="http://blog.aclark.net" target="_blank">Alex Clark's Blog</a>
                </div>
              </div>
            </div>
{% endblock %}
