{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
            <h1>Alex Clark's Blog</h1>
            <div>
              <div class="row">
                <div class="col-md-6">
                  <h2>History</h2>
                  <p class="lead"><i class="fa fa-clock-o fa-5x pull-left"></i>Alex Clark has been blogging <a href="http://blog.aclark.net/2007/03/16/first-post/index.html">since 2007</a> and enjoys writing about a variety of technical and other topics.
                </div>
                <div class="col-md-6"> 
                  <h2>Popular Articles</h2>
                  <p class="lead"><i class="fa fa-bullhorn fa-5x pull-left"></i>
                  <ul>
                    <li><a href="http://blog.aclark.net/2013/02/23/trading-places-trading-scene-explained/index.html">Trading Places Trading Scene Explained</a></li>
                    <li><a href="http://blog.aclark.net/2016/12/15/shout-out-to-shout-irc/index.html">A Shout Out to Shout IRC</a></li>
                    <li><a href="http://blog.aclark.net/2015/02/10/please-do-my-homework/index.html">Please Do My Homework</a></li>
                  </ul>
                  </p>
                </div>
              </div>
            </div>
{% endblock %}
