{% extends 'base.html' %}
{% load staticfiles %}

{% block nav %}
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'projects' %}">Projects</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li class="active"><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
{% endblock %}

{% block content %}
            <h1>Book</h1>
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-thumbnail" src="{% static 'book.png' %}">
                    </div>
                    <div class="col-md-6">
                        <h3>Mastering Plone Site Administration</h3>
                        <p class="lead">Based on Plone 3.3, this book will help you learn how to create, deploy and maintain all versions of Plone. The approach presented within this book continues to be developed and supported within the <a href="http://plock.github.io/">Plock project</a>.</p>
                        <hr>
                        <p class="lead"><i class="fa fa-arrow-circle-right"></i>&nbsp;<a href="https://www.packtpub.com/web-development/plone-33-site-administration">Buy a copy today</a>
                    </div>
                </div>
                <hr>
            </div>
            <style>
              #footer {
                background: white !important;
              }
            </style>
{% endblock %}
