{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
            <h1>Book</h1>
            <div class="jumbotron" style="border-radius: 0">
              <div class="row">
                <div class="col-md-6" style="text-align: center">
                  <img class="img-thumbnail" src="{% static 'book.png' %}">
                </div>
                <div class="col-md-6">
                  <h3>Plone 3.3 Site Administration</h3>
                  <p class="lead">Based on Plone 3.3, this book will help you learn how to create, deploy and maintain all versions of Plone. The approach presented within this book continues to be developed and supported within the <a href="http://plock.github.io/">Plock project</a>.</p>
                  <p class="lead"><i class="fa fa-arrow-circle-right"></i>&nbsp;<a href="https://www.packtpub.com/web-development/plone-33-site-administration">Buy a copy today</a>
                </div>
              </div>
            </div>
{% endblock %}
