{% extends 'base.html' %}
{% block content %}
            <h1>Clients</h1>
            <div class="jumbotron" style="border-radius: 0">
              <h2>A partial list of valued clients</h2>
              <hr class="featurette-divider">
              {% for client in clients %}
              <div class="row">
                <div class="col-md-12">
                  <h2><i class="fa fa-building"></i> {{ client.name }}</h2>
                  <p>{{ client.description }}</p>
                </div>
              </div>
              {% if not forloop.last %}<hr class="featurette-divider">{% endif %}
              {% endfor %}
            </div>
{% endblock %}
