{% extends 'base.html' %}

{% block nav %}
            <li class="active"><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'projects' %}">Projects</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
{% endblock %}

{% block content %}
            <h1>Clients</h1>
            <h2 class="width">Partial List of Clients</h2>
            <div class="jumbotron">
            {% for client in clients %}
              <div class="row">
                <div class="col-md-12">
                  <h2 class="pull-left"><i class="fa fa-building"></i>&nbsp;{{ client.name }}</h2>
                  <p class="pull-left">{{ client.description }}</p>
                </div>
              </div>
            {% endfor %}
            </div>
{% endblock %}
