{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
            <h1>Community</h1>
            <div class="jumbotron" style="border-radius: 0">
              <div class="row">
                <div class="col-md-4">
                  <p class="lead">In early 2008, we created a 501(c)(3) non-profit organization, <a href="http://dcpython.org">DC Python</a> in Maryland, USA to expand our outreach and service to the Python community in DC.</p>
                </div>
                <div class="col-md-8">
                  <img class="img-thumbnail" src="{% static 'dcpython.png' %}">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-6">
                  <img class="img-thumbnail" src="{% static 'ploneconf.png' %}">
                </div>
                <div class="col-md-6">
                  <p class="lead">In late 2008, we made one of our most significant contributions to the community by organizing and hosting <a href="http://plone.org/2008">Plone Conference 2008</a> in DC.</p>
                </div>
              </div>
            </div>
{% endblock %}
