{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block nav %}
        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'projects' %}">Projects</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'services' %}">Services</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
        <li class="nav-item active"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
{% endblock %}

{% block content %}
            <h1>Contact</h1>
            <div class="jumbotron">
              {% if messages %}{% for message in messages %}<div {% if message.tags %}class="alert alert-{{ message.tags }}"{% endif %} role="alert">{{ message }}</div>{% endfor %}{% endif %}
              <p class="lead">Please contact us to schedule a time to discuss your needs. We look forward to working with you.</p>
              <form action="" method="post">{% csrf_token %}
              {{ form|crispy }}
              <button class="btn btn-lg btn-success" type="submit">Send Message</button>
              </form>
            </div>
            <style>
              #footer {
                background: white !important;
                color: black;
              }
            </style>
{% endblock %}
