{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block carousel-text %}
            <h1>Contact</h1>
{% endblock %}
{% block content %}
            <div>
              {% if messages %}{% for message in messages %}<div {% if message.tags %}class="alert alert-{{ message.tags }}"{% endif %} role="alert">{{ message|safe }}</div>{% endfor %}{% endif %}
              <h2>Please contact us to schedule a time to discuss your needs. We look forward to working with you.</h2>
              <hr style="margin: 3em 0 3em 0">
              <form action="" method="post">{% csrf_token %}
              {{ form|crispy }}
              <button class="btn btn-lg btn-success" type="submit">Send Message</button>
              </form>
            </div>
{% endblock %}
