{% extends 'base.html' %}

{% block nav %}
        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'projects' %}">Projects</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'services' %}">Services</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{% url 'about' %}" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
          <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
            <a class="dropdown-item" href="{% url 'about' %}">ACLARK.NET, LLC</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'book' %}">Book</a>
            <a class="dropdown-item" href="http://blog.aclark.net">Blog</a>
            <a class="dropdown-item" href="{% url 'clients' %}">Clients</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'open-source' %}">Code</a>
            <a class="dropdown-item" href="{% url 'community' %}">Community</a>
            <a class="dropdown-item" href="{% url 'history' %}">History</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'location' %}">Location</a>
            <a class="dropdown-item" href="{% url 'team' %}">Team</a>
            <a class="dropdown-item" href="{% url 'testimonials' %}">Testimonials</a>
          </div>
        </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
{% endblock %}

{% block content %}
            <h1>History</h1>
            <div class="jumbotron" style="border-radius: 0">
              <div class="row">
                <p class="lead"><i class="fa fa-clock-o"></i> In 2004, Alex Clark began doing business as ACLARK.NET; a Maryland, USA registered trade name. His first client was a company with a Plone website in London, UK.</p>
              </div>
              <hr>
              <div class="row">
                <p class="lead"><i class="fa fa-clock-o"></i> In 2007, Amy Clark created ACLARK.NET, LLC; a Maryland, USA limited liability corporation. Our <a href="{% url 'clients' %}">client list</a> began to grow.</p>
              </div>
              <hr>
              <div class="row">
                <p class="lead"><i class="fa fa-clock-o"></i> In 2008, Amy Clark created ZPUGDC, Inc; a non-profit 501(c)(3) corporation in Maryland, USA. With this organization we hosted <a href="{% url 'community' %}">Plone Conference 2008</a>.</p>
              </div>
              <hr>
              <div class="row">
                <p class="lead"><i class="fa fa-clock-o"></i> In 2014, we reached a milestone 10 years in business.</p>
              </div>
              <hr>
              <div class="row" style="text-align: center">
                <h4>Read about our <a href="{% url 'location' %}">location</a>&hellip;</h4>
              </div>
            </div>
            <style>
              #footer {
                background: white !important;
                color: black;
              }
            </style>
{% endblock %}
