{% extends 'base.html' %}

{% block nav %}
            <li class="active"><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'projects' %}">Projects</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
{% endblock %}

{% block content %}
            <br>
            <div class="jumbotron"> 
              <h1>Building web applications with Python for over 10 years</h1>

              <p class="lead">Create professional web applications for your business infrastructure and services; efficiently, effectively and economically with <a href="{% url 'open-source' %}">open source Python software</a>. We'll show you how…</p>

              <a class="btn btn-lg btn-success" href="{% url 'contact' %}">Get Started Today</a>

            </div>

            <div class="row">
              <div class="col-md-4">
                <h2>Projects</h2>
                <p><i class="fa fa-cog fa-5x wrap"></i> From <a href="https://www.djangoproject.com/">Django</a> to <a href="http://zope.org/">Zope</a>, to <a href="https://plone.org/">Plone</a> and <a href="http://www.pylonsproject.org/">Pyramid</a> in between; we develop, deploy, maintain and support Python-based web applications with unparalleled skill and expertise.</p>
                <p class="padding"><a class="btn btn-primary" href="{% url 'projects' %}" role="button">View Projects &raquo;</a></p>
              </div>
              {% if testimonial %}
              <div class="col-md-4">
                <h2>Testimonials</h2>
                <p><i class="fa fa-thumbs-o-up fa-5x wrap"></i>&quot;{{ testimonial.text }}&quot;</p>
                <p>&mdash;{{ testimonial.name }}</p>
                <p class="padding"><a class="btn btn-primary" href="{% url 'testimonials' %}" role="button">View Testimonials &raquo;</a></p>
              </div>
              {% endif %}
            </div>

{% endblock %}
