{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
            <h1>Location</h1>
            <div class="jumbotron" style="border-radius: 0">
              <div class="row">
                <div class="col-md-12">
                  <h3>Bethesda, MD, USA</h3>
                  <img class="img-thumbnail" src="{% static 'bethesda-fountain.jpg' %}">
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <p class="lead">We are located in Bethesda, MD USA, a suburb of Washington, DC USA. We service a global community of individuals and organizations and are always eager and available to help.</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="center"><h4>Please <a href="{% url 'contact' %}">contact us</a> to schedule a time to discuss your needs. We look forward to working with you.</h4></div>
              </div>
            </div>
{% endblock %}
