    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}"><i class="fa fa-home"></i></a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">  <!-- http://stackoverflow.com/a/25044880/185820 -->
          <li class="nav-item {% if active_nav == 'about' %}active{% endif %}"><a class="nav-link" href="{% url 'about' %}">About</a></li>
          <li class="nav-item {% if active_nav == 'clients' %}active{% endif %}"><a class="nav-link" href="{% url 'clients' %}">Clients</a></li>
          <li class="nav-item {% if active_nav == 'contact' %}active{% endif %}"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
          <li class="nav-item {% if active_nav == 'testimonials' %}active{% endif %}"><a class="nav-link" href="{% url 'testimonials' %}">Testimonials</a></li>
          <li class="nav-item {% if active_nav == 'community' %}active{% endif %}"><a class="nav-link" href="{% url 'community' %}">Community</a></li>
          <li class="nav-item {% if active_nav == 'services' %}active{% endif %}"><a class="nav-link" href="{% url 'services' %}">Services</a></li>
        </ul>
      </div>
    </nav>
