{% extends 'base.html' %}
{% block content %}
              <h1>Open Source</h1>
              <p class="d-none d-md-block">Alex Clark's contributions to open source software.</p>
              <div>
                <div class="row">
                  <div class="col-md-12">
                    <p class="lead"><i class="fa fa-clock-o fa-5x pull-left"></i> In 2004, <a href="{% url 'team' %}#aclark">Alex Clark</a> was inspired by the <a target="_blank" href="https://plone.com">Plone CMS</a> project to make his first contributions to open source. For the next few years, he contributed to several Plone add-ons including <a target="_blank" href="https://github.com/collective/Products.PloneHelpCenter">Products.PloneHelpCenter</a>, <a target="_blank" href="https://github.com/collective/Products.PloneSoftwareCenter">Products.PloneSoftwareCenter</a>, and <a target="_blank" href="https://github.com/plone/Products.PloneOrg">Products.PloneOrg</a>.</p>
                  </div>
                </div>
                <hr class="featurette-divider">
                <div class="row">
                  <div class="col-md-12">
                    <p class="lead"><i class="fa fa-clock-o fa-5x pull-left"></i> In 2009, Alex Clark completed his first Plone Improvement Proposal: <strong>Add ability to choose group when adding new site members</strong>.</p>
                  </div>
                </div>
                <hr class="featurette-divider" id="pillow">
                <div class="row"> 
                  <div class="col-md-12">
                    <img class="img-thumbnail pull-right" style="background: #24261A" src="http://python-pillow.org/images/pillow-logo.png">
                    <p class="lead"><i class="fa fa-clock-o fa-5x pull-left"></i> In 2010, Alex Clark created <a target="_blank" href="http://python-pillow.org">Pillow</a> (a fork of the Python Imaging Library by Fredrik Lundh). <strong>As of early 2017, Pillow has been downloaded over 15 million times, can be found in many major Linux distributions such as Ubuntu & Fedora Core, and is used by Fortune-100-serving companies like <a target="_blank" href="https://www.atlassian.com/">Atlassian</a>.</strong> Please <a href="{% url 'contact' %}">contact us</a> for professional Pillow support.</a></p>
                  </div>
                </div>
                <hr class="featurette-divider">
                <div class="row">
                  <div class="col-md-12">
                    <p class="lead"><i class="fa fa-clock-o fa-5x pull-left"></i> In 2011, Alex Clark completed his second Plone Improvement Proposal: <strong>Add 'test mail server' form to Mail Settings</strong>.</p>
                  </div>
                </div>
                <hr class="featurette-divider">
                <div class="row" id="plock">
                  <div class="col-md-12">
                    <p class="lead"><i class="fa fa-clock-o fa-5x pull-left"></i> In 2013, in an effort to simplify Plone installation, Alex Clark began the <a href="http://plock.github.io/">Plock project</a>.</p>
                  </div>
                </div>
                <hr class="featurette-divider">
                <div class="row">
                  <div class="col-md-12">
                    <p class="lead"><i class="fa fa-clock-o fa-5x pull-left"></i> This website launched in early 2015 & last updated in early 2017 is <a target="_blank" href="https://github.com/ACLARKNET/aclarknet-website">open source</a>.</p>
                  </div>
                </div>
              </div>
{% endblock %}
