{% extends 'base.html' %}

{% block nav %}
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'projects' %}">Projects</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
{% endblock %}

{% block content %}
              <h1>Open Source</h1>
              <div class="jumbotron">
                <h2>Alex Clark's contributions to open source</h2>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="lead width-80">In 2004, inspired by <a href="https://plone.org">Plone</a> Alex Clark began contributing to open source.</p>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-12">
                        <p class="lead width-70">For the next several years, he made significant contributions to several Plone add-ons including <a href="https://pypi.python.org/pypi/Products.PloneHelpCenter/4.0">Products.PloneHelpCenter</a>, <a href="https://pypi.python.org/pypi/Products.PloneSoftwareCenter">Products.PloneSoftwareCenter</a>, and <a href="https://pypi.python.org/pypi/Products.PloneOrg">Products.PloneOrg</a>.</p>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-12">
                        <p class="lead width-60">In 2009, he completed his first Plone Improvment Proposal: <a href="https://dev.plone.org/ticket/9330">Add ability to choose group when adding new site members</a>.</p>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-12">
                        <p class="lead width-60">In 2010, he created <a href="http://python-pillow.github.io/">Pillow</a> (a fork of the Python Imaging Library by Fredrik Lundh). As of early 2016, Pillow has been downloaded over 12 million times and can be found in many major Linux distributions (instead of PIL) including Ubuntu & Fedora Core.</p>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-12">
                        <p class="lead width-50">In 2011, he completed his second Plone Improvement Proposal: <a href="https://dev.plone.org/ticket/11774">Add 'test mail server' form to Mail Settings</a>.</p>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-12">
                        <p class="lead width-80">In 2013, in an effort to simplify Plone he began the <a href="http://plock.github.io/">Plock project</a>.</p>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-12">
                        <p class="lead width-80">This website launched in early 2015 & updated in early 2016 is <a href="https://github.com/ACLARKNET/aclarknet-website">open source</a>.</p>
                    </div>
                </div>
              </div>
{% endblock %}
