{% extends 'base.html' %}
{% load staticfiles %}

{% block nav %}
        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
        <li class="nav-item active"><a class="nav-link" href="{% url 'projects' %}">Projects</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'services' %}">Services</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{% url 'about' %}" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
          <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
            <a class="dropdown-item" href="{% url 'about' %}">ACLARK.NET, LLC</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'book' %}">Book</a>
            <a class="dropdown-item" href="http://blog.aclark.net">Blog</a>
            <a class="dropdown-item" href="{% url 'clients' %}">Clients</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'open-source' %}">Code</a>
            <a class="dropdown-item" href="{% url 'community' %}">Community</a>
            <a class="dropdown-item" href="{% url 'history' %}">History</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'location' %}">Location</a>
            <a class="dropdown-item" href="{% url 'team' %}">Team</a>
            <a class="dropdown-item" href="{% url 'testimonials' %}">Testimonials</a>
          </div>
        </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
{% endblock %}

{% block content %}
            <h1>Projects</h1>
            <div class="jumbotron" style="border-radius: 0; text-align: center">
              <h2>If you are using one of these Python-based web frameworks, we want to work with you. If you are not, we can give you compelling reasons to try.</h2>

              <img class="img-thumbnail logo-django" src="{% static 'django-logo-positive.png' %}">
              <h4><a href="https://www.djangoproject.com" target="_blank">https://www.djangoproject.com</a></h4>

              <img class="img-thumbnail logo-plone" src="{% static 'plone-logo-256.png' %}">
              <h4><a href="https://plone.com">https://plone.com</a></h4>

              <img class="img-thumbnail" src="{% static 'pyramid.png' %}">
              <h4><a href="http://www.pylonsproject.org">http://www.pylonsproject.org</a></h4>

              <img class="img-thumbnail logo-zope" src="{% static 'Zope.png' %}">
              <h4><a href="https://en.wikipedia.org/wiki/Zope">https://en.wikipedia.org/wiki/Zope</a></h4>

              <hr>
              <div style="text-align: center">
                <h4>Read about our <a href="{% url 'open-source' %}">open source contributions</a>&hellip;</h4>
              </div>

            </div>
{% endblock %}
