{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
            <div class="row">
              <div class="col-md-12">

                <h1>Projects</h1>
                <h2>If you are using this Python-based web framework, we want to work with you. Or if you're not, we can offer you compelling reasons to try.</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
              <p class="lead">
                <a href="https://www.djangoproject.com" target="_blank"><img class="img-thumbnail logo-django float-left" src="{% static 'django-logo-positive.png' %}"></a>
                <a href="https://www.djangoproject.com" target="_blank">Django</a> is a high-level Python Web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle of Web development, so you can focus on writing your app without needing to reinvent the wheel. It’s free and open source. 
              </p>
              </div>
            </div>
{% endblock %}
