{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
            <h1>Projects</h1>
            <div class="jumbotron" style="border-radius: 0; text-align: center">
            <h2>If you are using one of these Python-based web frameworks, we want to work with you. If not, we can give you good reasons to try.</h2>
            <hr>

            <img class="img-thumbnail logo-django" src="{% static 'django-logo-positive.png' %}">
            <h4><a href="https://www.djangoproject.com" target="_blank">https://www.djangoproject.com</a></h4>

            <img class="img-thumbnail logo-plone" src="{% static 'plone-logo-256.png' %}">
            <h4><a href="https://plone.com">https://plone.com</a></h4>

            <img class="img-thumbnail" src="{% static 'pyramid.png' %}">
            <h4><a href="http://www.pylonsproject.org">http://www.pylonsproject.org</a></h4>

            <img class="img-thumbnail logo-zope" src="{% static 'Zope.png' %}">
            <h4><a href="https://en.wikipedia.org/wiki/Zope">https://en.wikipedia.org/wiki/Zope</a></h4>

            <hr>
            <div style="text-align: center">
              <h4>Read about our <a href="{% url 'open-source' %}">open source contributions</a>&hellip;</h4>
            </div>

            </div>
{% endblock %}
