{% extends 'base.html' %}

{% block nav %}
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'projects' %}">Projects</a></li>
            <li class="active"><a href="{% url 'services' %}">Services</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
{% endblock %}

{% block content %}
            <h1>Services</h1>
            <div class="jumbotron">
              {% for service in services %}
              <div class="row">
                  <div class="col-md-12">
                      <h2><i class="fa fa-briefcase"></i>&nbsp;{{ service.name }}</h2>
                      <p class="lead">{{ service.description|linebreaks }}</p>
                  </div>
              </div>
              <hr />
              {% endfor %}
            </div>
{% endblock %}
