{% extends 'base.html' %}
{% block carousel-text %}
            <h1>Services</h1>
            <p class="d-none d-md-block">We offer a variety of professional technical services including software development, systems administration and more.</p>
{% endblock %}
{% block content %}
            <div>
              {% for service in services %}
              <div class="row">
                  <div class="col-md-12">
                      <h2 id="{{ service.name|lower }}">{{ service.name }}</h2>
                      <p class="lead"><i class="fa fa-{{ service.icon }} fa-5x pull-left"></i>{{ service.description|safe|linebreaks }}</p>
                  </div>
              </div>
              {% if not forloop.last %}<hr class="featurette-divider">{% endif %}
              {% endfor %}
            </div>
{% endblock %}
