{% extends 'base.html' %}
{% load staticfiles %}

{% block nav %}
            <li class="active"><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'projects' %}">Projects</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
{% endblock %}

{% block content %}
            <h1>Team</h1>
            <div class="jumbotron">
              <div class="row">
                <h3>Our team offers extensive experience in the development, deployment and maintenance of Python-based web applications</h3>
              {% for partner in partners %}
                <div class="col-md-12">
                    <h2><i class="fa fa-user"></i>&nbsp;{{ partner.name }}</h2>
                    <p class="lead"><img class="img-thumbnail wrap" src="{{ partner.photo }}">{{ partner.description }}</p>
                </div>
              {% endfor %}
            </div>
            </div>
              {% for developer in developers %}
              <div class="background-white padding transparent">
                <div class="row">
                  <div class="col-md-12">
                    <h2><i class="fa fa-user"></i>&nbsp;{{ member.name }}</h2>
                    <p>{{ member.description }}</p>
                  </div>
                </div>
              </div>
            {% endfor %}
{% endblock %}
