{% extends 'base.html' %}

{% block nav %}
            <li class="active"><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'projects' %}">Projects</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
{% endblock %}

{% block content %}
            <h1>Team</h1>
            <h2>Our team offers extensive experience in the development, deployment and maintenance of Python-based web applications</h2>
            {% for member in members %}
            <div class="background-white padding transparent">
              <div class="row">
                <div class="col-lg-12">
                  <h2><i class="fa fa-user"></i>&nbsp;{{ member.name }}</h2>
                  <p>{{ member.text }}</p>
                </div>
              </div>
            </div>
            {% endfor %}
{% endblock %}
