{% extends 'base.html' %}

{% block nav %}
            <li class="active"><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'projects' %}">Projects</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
{% endblock %}

{% block content %}
            <h1>Testimonials</h1>
            <div class="jumbotron">
            {% for testimonial in testimonials %}
              <div class="row">
                <div class="col-md-12">
                  <h4 class="pull-right">{{ testimonial.issue_date }}</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p class="lead">"{{ testimonial.description }}"</p>
                  <h4 class="pull-right"><i class="fa fa-user"></i>&nbsp;{{ testimonial.name }}</h4>
                </div>
              </div>
              <hr>
            {% endfor %}
            </div>
{% endblock %}
