{% extends 'base.html' %}

{% block nav %}
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'projects' %}">Projects</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li class="active"><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
{% endblock %}

{% block content %}
            <h1>Testimonials</h1>
            <div class="jumbotron">
            {% for testimonial in testimonials %}
              <div class="row">
                <div class="col-md-12">
                  <h4 class="pull-right">{{ testimonial.issue_date }}</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p class="lead"><i class="fa fa-quote-left"></i> {{ testimonial.description }} <i class="fa fa-quote-right"></i></p>
                  <h4 class="pull-right">&mdash;{{ testimonial.name }}</h4>
                </div>
              </div>
              {% if not forloop.last %}<hr>{% endif %}
            {% endfor %}
            </div>
{% endblock %}
