{% extends 'base.html' %}
{% block content %}
            <h1>Testimonials</h1>
            <div class="jumbotron" style="border-radius: 0">
              <h2>Solicited and unsolicited feedback from our clients about our qualifications.</h2>
              <hr class="featurette-divider"> 
              {% for testimonial in testimonials %}
              <div class="row">
                <div class="col-md-12 bg-inverse rounded">
                  <h4 class="pull-right text-white" style="margin-top: 0.3em"><i class="fa fa-calendar"></i> {{ testimonial.issue_date }}</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p class="lead"><i class="fa fa-quote-left"></i> <strong>{{ testimonial.description }} </strong> <i class="fa fa-quote-right"></i></p>
                  <h4 class="pull-right">&mdash;{{ testimonial.name }}</h4>
                </div>
              </div>
              {% if not forloop.last %}<hr class="featurette-divider">{% endif %}
              {% endfor %}
            </div>
{% endblock %}
