.logo-django {
    width: 320px;
}
.logo-plone {
    width: 320px;
}
.logo-zope {
    width: 320px;
}
.marketing {
    margin-top: 1em;
}

.outline {
    background-color: transparent;
    border: 1px solid #5A5A5A;
    border-radius: 5%;
    color: #5A5A5A !important;
    padding: 0.5em;
    margin: 0 0 1em 1em;
}
