.col-center {
  text-align: center;
}
.jumbotron, #content {
  background-color: white !important;
  margin-top: 20px;
  opacity: 0.9;
}
.jumbotron h1 {
  font-weight: bold;
}
#footer {
  margin: 20px 0 20px 0;
}
.row {
  margin: 0 0.5px 0 0.5px;
}
